# Unreal Engine
.vs/
*.sln
*.suo
*.VC.db
*.VC.opendb
Intermediate/
Saved/
Binaries/
Build/
DerivedDataCache/
xcuserdata/
Config/User*.ini
SourceArt/
Plugins/

# Visual Studio
Debug/
Release/
obj/
*.exe
*.pdb
*.ilk
*.log
*.tlog
*.sdf
*.opensdf
*.cachefile
*.vcxproj.user
*.sln.docstates
_ReSharper.*
*.DotSettings.user
/packages/
!/packages/build/
*.vspscc
*.vssscc
ComponentModelCache/

# OS Specific
.DS_Store       # macOS
Thumbs.db       # Windows